<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem
        id="menu_patient_root"
        name="Patient"
        sequence="10"
    />
    <menuitem
        id="menu_patient_operations"
        name="Operations"
        parent="menu_patient_root"
        sequence="10"
    />
    <menuitem
        id="menu_patient"
        name="Patients"
        parent="menu_patient_operations"
        sequence="10"
    />


</odoo>